body {
    background-color: lavender;
    font-family: sans-serif;
}

h1 {
    color: brown;
}

h2 {
    color: lightsalmon;
}

ul, ol {
    font-style: italic;
}

.no-italics {
    font-style: normal;
}

ol {
    font-weight: bold;
}